{% for social in site.data.socials %}
  {% case social[0] %}
    {% when 'github_username' %}
      <a href="https://github.com/{{ social[1] }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
    {% when 'gitlab_username' %}
      <a href="https://gitlab.com/{{ social[1] }}" title="GitLab"><i class="fa-brands fa-gitlab"></i></a>
    {% when 'cv_pdf' %}
      <a href="{{ social[1] | relative_url }}" title="CV" target="_blank"><i class="ai ai-cv"></i></a>
    {% when 'email' %}
      <a href="mailto:{{ social[1] | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
    {% when 'linkedin_username' %}
      <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    {% else %}
      <a href="{{ social[1].url }}" title="{{ social[1].title }}">
        {% assign file_ext = social[1].logo | split: '.' | last %}
        {% if file_ext == 'svg' %}
          <svg>
            <image xlink:href="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}" />
          </svg>
        {% else %}
          <img
            src="{% if social[1].logo contains '://' %}{{ social[1].logo }}{% else %}{{ social[1].logo | relative_url }}{% endif %}"
            alt="{{ social[1].title }}"
          >
        {% endif %}
      </a>
  {% endcase %}
{% endfor %}
